<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Emp To Dept</h1>
        <table border="4px" >
            <tr style="color: red;">
                <th>empno</th>
                <th>ename</th>
                <th>deptno</th>
                <th>sal</th>
                <th>hiredate</th>
                <th>mgr</th>
                <th>comm</th>
                <th>job</th>
                <th>mgrempno</th>
                <th>mgrename</th>
                <th>mgrdeptno</th>
                <th>mgrsal</th>
                <th>mgrhiredate</th>
                <th>mgrmgr</th>
                <th>mgrcomm</th>
                <th>mgrjob</th>

                
            </tr>
            {% for EMO in QSLEMO %}
            <tr>
                <td>{{EMO.empno}}</td>
                <td>{{EMO.ename}}</td>
                <td>{{EMO.deptno}}</td>
                <td>{{EMO.sal}}</td>
                <td>{{EMO.hiredate}}</td>
                <td>{{EMO.mgr}}</td>
                <td>{{EMO.comm}}</td>
                <td>{{EMO.job}}</td>
                <td>{{EMO.mgr.empno}}</td>
                <td>{{EMO.mgr.ename}}</td>
                <td>{{EMO.mgr.deptno}}</td>
                <td>{{EMO.mgr.sal}}</td>
                <td>{{EMO.mgr.hiredate}}</td>
                <td>{{EMO.mgr.mgr}}</td>
                <td>{{EMO.mgr.comm}}</td>
                <td>{{EMO.mgr.job}}</td>
            </tr>
            {% endfor %}
            
        </table>
    </center>
    
</body>
</html>