<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Emp To Dept </h1>
        <table border="4px">
            <tr>
                <th>empno</th>
                <th>ename</th>
                <th>deptno</th>
                <th>job</th>
                <th>sal</th>
                <th>hiredate</th>
                <th>comm</th>
                <th>mgr</th>
                <th>deptno</th>
                <th>dname</th>
                <th>dloc</th>
            </tr>

            {% for EDO in QSLEDO %}
            <tr>
                <td>{{EDO.empno}}</td>
                <td>{{EDO.ename}}</td>
                <td>{{EDO.deptno}}</td>
                <td>{{EDO.job}}</td>
                <td>{{EDO.sal}}</td>
                <td>{{EDO.hiredate}}</td>
                <td>{{EDO.comm}}</td>
                <td>{{EDO.mgr}}</td>
                <td>{{EDO.deptno.deptno}}</td>
                <td>{{EDO.deptno.dname}}</td>
                <td>{{EDO.deptno.dloc}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>